:root{
    --bs-primary: #f7c552;
    --bs-secondary:#33c1cf;
}

@font-face {
    font-family: 'tikner';
    src: url(font/open-sans_5.1.0_cyrillic-300-normal.woff2);
}

html{
    font-family: tinker, sans-serif;
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
}

.bg-second{
    background-color: var(--bs-secondary);
}
.bg-prima{
    background-color: var(--bs-primary); 
}

.bg-banner{
    background-image: url(images/banner_bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
a[class="navbar-brand"]{
    font-family: tinker ,sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #fff;
}
a[class="navbar-brand"]::first-letter{
    color: var(--bs-primary); 
}

.primary-text{
    color: var(--bs-primary);
    font-weight: 700;
    font-size: 36px;
    line-height: 39.6px;
}
.secondary-text{
    color: var(--bs-secondary);
    font-weight: 700;
    font-size: 36px; 
    line-height: 39.6px;
}

.ordinary-text{
    color: #fff;
    font-weight: 400;
    font-size: 36px; 
    line-height: 39.6px;
}

.mt-10{
    margin-top: 12rem;
}

.round-bg{
    background-color: var(--bs-primary);
    border-radius: 50%;
    padding: 1rem;
    aspect-ratio: 1;
    object-fit: scale-down;
}
.bg-services{
    background-image: url(images/about-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.services-section{
    .col{
        transition: transform 0.5s;
    }
    .col:hover{
    transform: scale(1.05);
   }
}

/* Adding hover effect for gallery images */
.gallery-section{
    .col-md-6{
        transition: transform 0.5s;
        overflow: hidden;
    }
    .col-md-6:hover{
        transform: scale(1.05);
        z-index: 1;
    }
    img{
        transition: transform 0.5s;
    }
    .col-md-6:hover img{
        transform: scale(1.1);
    }
}
